<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <meta name="author" content="Co-authored by Mac Goodwin, Chloe Jambor, Nicki Ridsdale, Sam West">

        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">

        <title>Cookie Crumbs</title>

        <style type="text/css"> 
            .banner p{
                padding: 50px;
                text-align: center;
                font-family: 'Consolas';
                background-color: rgb(205, 137, 78);
                color: white;
                font-size: 7em;
            }

            .center{
                margin: 7.5% 20% 0 20%;
                padding: 0;
                width: 75%;
            }

            .table{
                width: 100;
            }
        </style>
    </head>
    
    <body>
        <div class="banner">       
            <span><p>>cookiecrumbs</p>
        </div>

        <div class="center">
            <form action={% url 'getTrail' %}  method="GET">
                <div class="form-group row">
                    <label for="target" class="col-sm-1">Find Cookies</label>
                    <div class="col-sm-7">
                        <input type="text" class="form-control" name="target" id="target" placeholder="Add URL...">
                    </div>
                    <div class="col-sm-2">
                        <input type="submit" class="btn">Search</input>
                    </div>
                </div>
            </form>
        </div>
        
    </body>
</html>